In [9]:
import pandas as pd

In [10]:
df = pd.read_csv ('FirePy/Fire.csv')

df

,index,ID,DATE,TIME,ZIP,BATTALION,SHIFT,COUNCIL DISTRICT,STRUCTURE TYPE,BUILDING STORIES,...,TOTAL VALUE,STRUCTURE LOSS,CONTENTS LOSS,TOTAL SAVED,PERCENTAGE LOSS,SPRINKER SYSTEM,ALARM SYSTEM,ADDRESS,Lat,Lng
0,0,17961.0,10/29/2019,08:21 PM,75216.0,6,A,4.0,DWELLING,1.0,...,166370.0,-5000.0,0.0,161370.0,3.01,NaN,NaN,1325 S MARSALIS AVE,32.732107,-96.814783
1,1,17962.0,10/30/2019,03:42 AM,75229.0,7,A,13.0,DWELLING,1.0,...,535470.0,-10000.0,0.0,525470.0,1.87,NaN,NaN,10728 LATHROP DR,32.894248,-96.857108
2,2,17963.0,10/30/2019,10:47 AM,75241.0,5,B,3.0,DWELLING,1.0,...,306000.0,-5000.0,-15000.0,286000.0,6.54,NaN,NaN,6205 S R L THORNTON SERV,32.694543,-96.824020
3,3,17964.0,10/30/2019,05:32 PM,75243.0,2,B,10.0,DWELLING,1.0,...,126710.0,-8000.0,-4000.0,114710.0,9.47,NaN,NaN,12044 WILLOWDELL DR,32.913584,-96.764435
4,4,17965.0,10/30/2019,11:03 AM,75212.0,9,B,6.0,DWELLING,1.0,...,84000.0,-45000.0,-10000.0,29000.0,65.48,NaN,NaN,2212 LAPSLEY ST,32.769986,-96.908816
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
616,616,18414.0,09/03/2020,02:12 AM,75227.0,8,A,7.0,DWELLING,1.0,...,261000.0,-15000.0,-2500.0,243500.0,6.70,NO,YES,5024 URBAN AVE,32.783636,-96.694285
617,617,18459.0,09/19/2020,08:49 AM,75214.0,3,C,14.0,APARTMENTS,2.0,...,2240263.0,-2500.0,0.0,2237763.0,0.11,NaN,UNK,5307 GASTON AVE,32.803882,-96.765385
618,618,18496.0,09/24/2020,07:11 PM,75243.0,4,B,10.0,APARTMENTS,3.0,...,7357830.0,-200.0,0.0,7357630.0,0.00,YES,UKN,218 W FERRIS BRANCH BLVD,32.903830,-96.726209
619,619,18514.0,09/30/2020,07:15 AM,75253.0,8,B,8.0,SHED,1.0,...,1500.0,-500.0,-100.0,900.0,40.00,NO,NO,14770 LASATER RD,32.692136,-96.567056
620,620,NaN,02/01/2020,04:29 PM,75216.0,5,C,4.0,DWELLING,1.0,...,171340.0,-2000.0,-40.0,169300.0,1.19,NO,NO,1542 FORDHAM RD,32.696174,-96.802091

In [11]:
avg = df.groupby(['STRUCTURE TYPE']).mean()["PERCENTAGE LOSS"]
median = df.groupby(['STRUCTURE TYPE']).median()["PERCENTAGE LOSS"]
var = df.groupby(['STRUCTURE TYPE']).var()["PERCENTAGE LOSS"]
std = df.groupby(['STRUCTURE TYPE']).std()["PERCENTAGE LOSS"]
sem = df.groupby(['STRUCTURE TYPE']).sem()["PERCENTAGE LOSS"]


percent_statistics = pd.DataFrame({ 
                             "Tumor Volume Mean": avg,
                             "Tumor Volume Median": median,
                             "Tumor Volume Var": var,
                             "Tumor Volume Std": std,
                             "Tumor Volume Sem": sem
    
                         
                        })
percent_statistics

,Tumor Volume Mean,Tumor Volume Median,Tumor Volume Var,Tumor Volume Std,Tumor Volume Sem
STRUCTURE TYPE,,,,,
4 PLEX,1.500000,1.500,NaN,NaN,NaN
APARTMENT,0.475000,0.475,0.396050,0.629325,0.445000
APARTMENTS,3.470737,0.080,128.418985,11.332210,0.822125
APARTMENTS (ROOF TOP),0.010000,0.010,NaN,NaN,NaN
CARPORT,0.460000,0.460,NaN,NaN,NaN
CHURCH,3.750000,3.750,28.125000,5.303301,3.750000
COMMERCIAL,7.965082,0.920,248.842715,15.774749,2.019750
COMMERICAL,23.023333,14.365,760.166347,27.571114,11.255860
COMMERICAL/WAREHOUSE,1.000000,1.000,NaN,NaN,NaN
CONDO,1.035000,1.035,1.566450,1.251579,0.885000
CONDOMINIUM,17.180000,17.180,NaN,NaN,NaN
CONDOMINIUMS,8.932500,0.280,313.606793,17.708947,6.261058
CONDOMINUM,3.900000,3.900,NaN,NaN,NaN
DUPLEX,12.583333,9.760,36.393633,6.032714,3.482989
DWELLING,16.985092,6.330,467.203405,21.614889,1.308193
DWELLING (WINDOW),0.530000,0.530,NaN,NaN,NaN
GARAGE,14.255000,8.195,442.202918,21.028621,6.070440
HOTEL,0.126667,0.035,0.028387,0.168483,0.068783
LAUNDRY ROOM,0.040000,0.040,NaN,NaN,NaN
MANUFACTURE,1.400000,1.400,NaN,NaN,NaN
MANUFACTURING,0.000000,0.000,NaN,NaN,NaN
MOBILE HOME,18.930000,25.000,263.409700,16.229901,9.370338
MOTEL,3.553333,0.250,64.618667,8.038574,3.281734
OFFICE,5.000000,0.330,70.158900,8.376091,4.835938
PORTABLE BLDG,0.000000,0.000,NaN,NaN,NaN
RESTAURANT,1.502000,1.330,0.483520,0.695356,0.310973
RETAIL,0.070000,0.070,NaN,NaN,NaN
SCHOOL,0.006667,0.010,0.000033,0.005774,0.003333
SHED,30.586154,30.770,524.570809,22.903511,6.352291
SHOPPING MALL,0.000000,0.000,NaN,NaN,NaN
TOWNHOME,5.675000,5.675,43.524450,6.597306,4.665000
WAREHOUSE,11.431250,0.270,430.214584,20.741615,7.333268