In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
from config import gkey

In [10]:
stations_df = pd.read_csv('data/fire_stations.csv')
# organized so that index = Station Number
#stations_df = stations_df.drop(axis=0, index=0)
stations_df.head()

                    Address
1         1901 Irving Blvd.
2      4211 Northhaven Road
3    500 N. Malcolm X Blvd.
4    816 South Akard Street
5  2039 St. Augustine Drive

In [12]:
from IPython.display import clear_output

lats = []
lngs = []
# geocoordinates
places_url = "https://maps.googleapis.com/maps/api/place/findplacefromtext/json"
geocode_url = "https://maps.googleapis.com/maps/api/geocode/json"
for index, row in stations_df.iterrows():
    address = row['Address'] + ", Dallas, TX"
       
    
    params = {
        "input": address.replace(" ", "+"),
        "inputtype": "textquery",
        "key": gkey,
        "fields": "geometry"
    }
    
    
        
    try:
        geo_data = requests.get(places_url, params=params).json()
        lat = geo_data["candidates"][0]["geometry"]["location"]["lat"]
        lng = geo_data["candidates"][0]["geometry"]["location"]["lng"]
        
    except:
        lat = None
        lng = None

    clear_output(wait=True)
    print(f"{index}: {lat}, {lng}")

    
    lats.append(lat)
    lngs.append(lng)

        
    
stations_df['Lat'] = lats
stations_df['Lng'] = lngs

58: 32.9309666, -96.984529

In [14]:
stations_df.to_csv(r'data/fire_stations.csv', index = False)